// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$blue: #4286f5;
$dark-blue: #4168b2;
$black:#343434;
$gray: #d7d7d7;
$dark-gray: #747474;
